.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
}

.post {
    width: 500px;
    border-radius: 11px;
    background: #fff;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    composes: backgroundColor from "../../App.module.css";
    composes: textColor from "../../App.module.css";
}

.icon {
    font-weight: bold;
    cursor: pointer;
}

.body {
    padding: 30px;
}

.input {
    outline: none;
    -webkit-appearance: none;
    -webkit-border: none;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eee;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 0px#ccc;
    width: 100%;
    padding: 15px;
    composes: textColor from "../../App.module.css";
    font-size: 14px;
}

.input::placeholder {
    color: #999;
}

.input:focus::placeholder {
    color: #eee;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit {
    border: none;
    composes: backgroundColor from "../../App.module.css";
    padding: 15px 30px;
    composes: textColor from "../../App.module.css";
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

@media only screen and (max-width: 576px) {
    .post {
        width: 100%;
    }
    .modal {
        padding: 0 20px;
    }
}