@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    font-size: 0;
    border: 5px solid #ccc;
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.empty {
    font-size: 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
}

.empty > .search {
    font-size: 40px;
    margin-right: 10px;
}